.todo-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 40px;

  zxing-scanner {
  }

  .mat-raised-button {
    margin: 10px;
  }
}

.column {
  float: left;
  width: 30%;
}

.column2 {
  float: left;
  width: 50%;
}

.row {
  background-color: #261C2C;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
